[package]
name = "acvm-backend-barretenberg"
version = "0.0.0"
authors = ["The Noir Team <team@noir-lang.org>"]
edition = "2021"
rust-version = "1.66"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#acvm = { version = "0.11.0", features = ["bn254"] }
acvm = { git = "https://github.com/noir-lang/acvm", rev = "84b5d18d29a111a42bfc1c3d122129c8f062c3db", features=["bn254"] }

thiserror = "1.0.21"

dirs = { version = "3.0", optional = true }
reqwest = { version = "0.11.16", optional = true, default-features = false, features = [
    "stream",
    "rustls-tls",
] }
tokio = { version = "1.0", optional = true }
futures-util = { version = "0.3.14", optional = true }
indicatif = { version = "0.17.3", optional = true }

# Native
barretenberg-sys = { version = "0.1.2", optional = true }

# Wasm
wasmer = { version = "*", optional = true, default-features = false }
rust-embed = { version = "6.6.0", optional = true, features = [
    "debug-embed",
    "interpolate-folder-path",
    "include-exclude",
] }
getrandom = { version = "0.2", optional = true }

[build-dependencies]
pkg-config = "0.3"

[dev-dependencies]
blake2 = "0.9.1"
sled = "0.34.6"
tempfile = "*"

[features]
default = ["native"]
native = [
    "dep:barretenberg-sys",
    "dep:reqwest",
    "dep:tokio",
    "dep:futures-util",
    "dep:dirs",
    "dep:indicatif",
]
wasm = [
    "wasmer",
    "dep:rust-embed",
    "dep:getrandom",
    "wasmer/sys-default",
    "wasmer/cranelift",
    "wasmer/default-compiler",
    "wasmer/default-cranelift",
    "wasmer/default-universal",
    "dep:reqwest",
    "dep:tokio",
    "dep:futures-util",
    "dep:dirs",
    "dep:indicatif",
]
js = ["wasmer", "dep:rust-embed", "dep:getrandom", "wasmer/js-default"]
