[workspace]

members = ["common", "barretenberg_wasm", "barretenberg_static_lib", "aztec_backend_wasm"]

[workspace.package]
name = "aztec_backend"
version = "0.8.0"
authors = ["The Noir Team <kevtheappdev@gmail.com>"]
edition = "2021"
rust-version = "1.66"
license = "MIT OR Apache-2.0"

[profile.release]
debug = true