[package]
name = "acvm-backend-barretenberg"
description = "An ACVM backend which allows proving/verifying ACIR circuits against Aztec Lab's Barretenberg library."
version = "0.1.2"
authors = ["The Noir Team <team@noir-lang.org>"]
edition = "2021"
rust-version = "1.66"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
acvm = { version = "0.11.0", features = ["bn254"] }
thiserror = "1.0.21"

blake2 = "0.9.1"
dirs = { version = "3.0", optional = true }
reqwest = { version = "0.11.16", optional = true, default-features = false, features = [
    "stream",
    "rustls-tls",
] }
tokio = { version = "1.0", optional = true }
futures-util = { version = "0.3.14", optional = true }
indicatif = { version = "0.17.3", optional = true }

env_logger = "0.10.0"

# Native
barretenberg-sys = { version = "0.1.2", optional = true }

# Wasm
wasmer = { version = "3.3", optional = true, default-features = false }
wasmer-wasix = { version = "0.4.0", optional = true, features = ["sys"] }
rust-embed = { version = "6.6.0", optional = true, features = [
    "debug-embed",
    "interpolate-folder-path",
    "include-exclude",
] }

[build-dependencies]
pkg-config = "0.3"

[dev-dependencies]
sled = "0.34.6"
tempfile = "3.5"

[features]
default = ["native"]
native = [
    "dep:barretenberg-sys",
    "dep:reqwest",
    "dep:tokio",
    "dep:futures-util",
    "dep:dirs",
    "dep:indicatif",
]
wasm = [
    "wasmer",
    "wasmer-wasix",
    "dep:rust-embed",
    # "wasmer/sys-default",
    "wasmer/cranelift",
    # "wasmer/default-compiler",
    # "wasmer/default-cranelift",
    # "wasmer/default-universal",
    "dep:reqwest",
    "dep:tokio",
    "dep:futures-util",
    "dep:dirs",
    "dep:indicatif",
]
js = ["wasmer", "wasmer-wasix", "dep:rust-embed", "wasmer/js-default"]

# [patch.crates-io]
# wasmer = { path = "../../wasmer/lib/api" }
# wasmer-wasix = { path = "../../wasmer/lib/wasi" }