[package]
name = "barretenberg_wasm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wasmer = { version = "*", default-features = false }
common = { path = "../common", default-features = false }

sha2 = "0.9.3"
blake2 = "0.9.1"
sled = "0.34.6"
tempfile = "*"

[features]
default = [
    # "acvm/bn254",
    "common/std",
    "wasmer/sys-default",
    "wasmer/cranelift",
    "wasmer/default-compiler",
    "wasmer/default-cranelift",
    "wasmer/default-universal",
]
js = [

    # "acvm/bn254", 
    "wasmer/js-default",
]
